.profile-form__label {
    margin: 0;
    padding: 0px;
    color: var(--main-text-color);
    box-sizing: border-box;
    text-align: left;

    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}