.arrow-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 0;
    border: none;

    background-color: var(--main-color);
    background-image: url('../../images/arrow_right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:right;
    background-position-y: center;
}

.arrow-button_dir_left {
    transform: scale(-1, 1)
}