@import url(../fonts/fonts.css);

:root {
    --app-min-width: 320px;
    --app-max-width: 1280px;
    --app-min-height: 480px;
    --app-max-height: 720px;
    --main-color: #3369F3;
    --main-back-color: #FFF;
    --main-text-color: #1E1E1E;
    --sub-back-color: #FBFBFB;
    --sub-text-color: #999;
    --msg-back-color: #F8F8F8;
    --stripe-color: #EAEAEA;
    --input-back-color: #EFEFEF;
    --timestamp-back-color: #B3B3B3;
    --selected-back-color: #E4EDFD;
    --danger-color: #FF2F2F;
}